<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<html>
   <head th:insert="~{admin/template_admin::head}"></head>
    <div th:insert="~{admin/template_admin::header}"></div>
   
    <body>
        <div>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> code</th>
      <th scope="col"> name</th>
      <th scope="col"> description</th> 
      <th scope="col"> image </th> 
      <th scope="col"> price </th> 
      <th scope="col"> dateCreated </th> 
      <th scope="col"> dateUpdated </th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
        </div>
    </body>
</html>
